html {
	min-height: 100%
}

body {
	height: 100%;
	background-color: #cccccc;
}

#navbar {
	border-radius: unset;
	background-color: #dddddd;
}

#navbar-container {
	max-width: 960px;
	width: 100%;
	margin: auto;
}

#crystal-nav {
	text-align: center;
	font-size: 44px;
	font-family: inherit;
	color: #ffffff;
	background-color: #337ab7;
}

#navbar-right li a {
	color: #286090;
}


#navbar-right li>a:hover {
	color: #337ab7;
}

.jumbotron {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 960px;
	width: 95%;
	max-height: 95%;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
}

#score-jumbotron {
	border: none;
	padding: 0;
	background-color: #cccccc;
}

#wins, #losses {
	font-weight: bold;
}

#crystals-header {
	margin-top: 10px;
}

p {
	margin-bottom: 10px;
}

#last-p {
	margin-bottom: 0;
}

#status {
	padding: 0;
}

.btn.btn-primary.btn-lg {
	display: block;
	clear: both;
	margin: 5px auto;
	max-width: 100%;
	width: 80px;
	border-color: black;
}

#random, #score {
	margin: auto;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	color: #000000;
}

#random {
	margin-bottom: 10px;
}

#wins-container, #losses-container {
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}

.row.crystal-row {
	max-width: 495px;
	margin: auto;
}

.crystal-container {
	margin: auto;
	padding: 10px;
	background-color: #eeeeee;
	border: 2px solid black;
	border-radius: 4px;
}

img {
	padding: 0;
	display: block;
	margin: auto;
	border: 2px solid black;
	border-radius: 4px;
	max-width: 100%;
}

/*Override Bootstrap's media query settings*/
@media (min-width: 768px) {

	.navbar {
		border-radius: unset;
		background-color: #337ab7;
		border-bottom: 2px solid black;
	}

}