html {
	min-height: 100%
}

body {
	height: 100%;
	background-color: #ffffff;
}

h2 {
	margin-top: 10px;
}

h3#wins, h3#losses{
	margin-top: 10px;
	font-weight: normal;
}

#navbar {
	border-radius: unset;
}

#navbar-container {
	max-width: 960px;
	width: 100%;
	margin: auto;
}

#crystal-nav {
	text-align: center;
	font-size: 44px;
	font-family: inherit;
	color: #000000;
	background-color: #ecf6fe;
}

.jumbotron {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 960px;
	width: 95%;
	max-height: 95%;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
}

#bottom-jumbotron.jumbotron {
	padding-top: 20px;
}

#wins, #losses {
	font-weight: bold;
}

#crystals-header {
	margin-top: 10px;
}

.jumbotron p {
	margin-bottom: 10px;
}

#last-p {
	margin-bottom: 0;
}

#random, #score {
	margin: auto;
	width: 80px;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	color: #000000;
}

#random {
	margin-top: 10px;
	margin-bottom: 10px;
}

#score {
	margin-top: 10px;
	margin-bottom: 10px;
}

#wins-container, #losses-container {
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}

.row.crystal-row {
	max-width: 495px;
	margin: auto;
}

.crystal-container {
	margin: auto;
	padding: 10px;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

img {
	padding: 0;
	display: block;
	margin: auto;
	border: 1px solid #cccccc;
	border-radius: 4px;
	max-width: 100%;
}

/*Override Bootstrap's media query settings*/
@media (min-width: 768px) {

	.navbar {
		border-radius: unset;
		background-color: #ecf6fe;
		border-bottom: 1px solid #cccccc;
	}

}